<div id="video-wrapper" class="position-absolute">
    <video class="animated" loop muted autoplay poster preload src="./public/video/mainVideo.mp4">
</div>

<div id="main" class="d-flex w-100 p-3 mx-auto flex-column position-absolute bgdark">
    <main class="cover text-center">
        <h1 class="cover-heading text-light">Welcome to my awesome Online Banking App</h1>
        <p class="lead text-light mt-5 mx-auto">Join hundreds of users online and experience brilliantly designed and easy to use application. Only tool you will
            ever need to satisfy your banking needs.</p>
        <p class="lead text-light">
            <a href="/learnmore" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>
</div>

<script>
    let main = document.querySelector('#main');
    let video = document.querySelector('video');
    let videoWrapper = document.querySelector('#video-wrapper');
    document.addEventListener('DOMContentLoaded', () => {
        videoWrapper.style.height = window.innerHeight - document.getElementsByTagName('nav')[0].offsetHeight + 'px';
        videoWrapper.style.width = window.innerWidth + 'px';

        main.style.height = window.innerHeight - document.getElementsByTagName('nav')[0].offsetHeight + 'px';

        if (window.innerWidth / window.innerHeight < 1) {
            video.setAttribute('height', window.innerHeight);
        } else {
            video.setAttribute('width', window.innerWidth);
        }

    })
    document.addEventListener('touchstart', function playVideo() {
        video.classList.add('fadeIn');
        video.pause();
        video.play();
        window.removeEventListener('touchstart', playVideo);
    })


</script>
