<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column bg-dark">
    <main role="main" class="inner cover text-center">
        <h1 class="cover-heading text-light">Welcome to my awesome Online Banking App</h1>
        <p class="lead text-light mt-5 mx-auto">Join hundreds of users online and experience brilliantly designed and easy to use application. Only tool you will
            ever need to satisfy your banking needs.</p>
        <p class="lead text-light">
            <a href="/users/register" class="btn btn-lg btn-secondary">Register</a>
        </p>
    </main>
</div>
