<div class="container-fluid">
    <div class="container">
        <div class="aboutTitle">
            <h1>About this project</h1>
        </div>
        <div class="aboutText">
            <p>When I first decided to make this portfolio project I had no complete vision of its final functionaliy hence it remains only a gimick without a real world application. It has a database with multiple collections for users and their bank accounts. Users can transfer funds from one account to another and if the receiver is online he will get a notification about incoming funds. Transaction history is kept in per user basis and the user download transaction summary at any time. Security is relatively okay considering I had absolutely no one to talk to about how to make even the login and registration system work. API will not send out information to non-authenticated users(hopefully). Registration form is, I admit, really boring but I wanted to create more fields in the database that describe the user. Anyways feel free to look around and spam people with fake transactions!</p>
            <a href="/users/register" class="btn btn-lg btn-secondary">Register</a>
        </div>
    </div>
    
</div>
<script type="text/javascript">
    document.querySelectorAll('.nav-item')[2].classList.add('active');
</script>
