body,
html {
	height: 100%;
	background-repeat: no-repeat;
	background-color: #343a40;
	font-family: 'Oxygen', sans-serif;
}
.bgdark {
	background-color: rgba(52, 58, 64, 0.75) !important;
}
#messages {
	position: relative;
	margin-top: -1px;
}
#video-wrapper {
	overflow: hidden;
}
video {
	//transform: scale(1.4);
	right: 0;
	bottom: 0;
}
.alert {
	margin-bottom: 5px;
	padding: 5px;
}
h1.title {
	font-size: 50px;
	font-weight: 400;
}

hr {
	width: 10%;
	color: #fff;
}

.form-group {
	margin-bottom: 15px;
}

label {
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
	font-size: 16px;
	padding-top: 3px;
}

.main-center {
	margin-top: 30px;
	margin: 0 auto;

	min-width: 330px;
	padding: 40px 40px;
}

.login-button {
	margin-top: 5px;
}

.login-register {
	font-size: 16px;
	text-align: center;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media only screen and (min-width: 768px) {
	.cover {
		margin-top: 30%;
	}
	.lead:first-of-type {
		width: 50%;
	}
}
@media only screen and (max-width: 767px) {
	.cover-heading {
		margin-top: 5%;
		font-size: 26px;
	}
	.cover {
		width: 100%;
	}
	.lead {
		margin: 10px auto;
		width: 90%;
	}
}
